{% extends "base_plugin.html" %}

{% set logo_frame = false %}

<!-- set update_interval to a value > 0 (in milliseconds) to enable periodic data updates -->
{% set update_interval = 0 %}

<!--
	Additional script tag for plugin specific javascript code go into this block
-->
{% block pluginscripts %}
<script>
	function handleUpdatedData(response, dataSet=null) {
		if (dataSet === 'devices_info' || dataSet === null) {
			var objResponse = JSON.parse(response);
			myProto = document.getElementById(dataSet);
			for (var device in objResponse) {
				/*
				shngInsertText (device+'_source', objResponse[device]['source']);
				shngInsertText (device+'_powerState', objResponse[device]['powerState']);
				*/
			}
		}
	}
</script>
<!--
	This part is used to implement datatable JS for the tables. It allows resorting tables by column, etc.
	For each table you have to implement the code part $('#<table_id>').DataTable(..); where the <table_id> matches the id of a table tag
-->
<script>
    $(document).ready( function () {
		try 
			{	
			$('#maintable').DataTable( {
				"paging": false,
				fixedHeader: true
				} );
            $('#datatable').DataTable( {
				"paging": false,
				fixedHeader: true
				} );
            $('#sysparams').DataTable( {
				"paging": false,
				fixedHeader: true
				} );
            $('#serversetting').DataTable( {
				"paging": false,
				fixedHeader: true
				} );
            $('#pathsetting').DataTable( {
				"paging": false,
				fixedHeader: true
				} );
            $('#sensors').DataTable( {
				"paging": false,
				fixedHeader: true
				} ); 
            $('#rain_data').DataTable( {
				"paging": false,
				fixedHeader: true
				} ); 
            $('#gateway_details').DataTable( {
				"paging": false,
				fixedHeader: true
				} );
            $('#sensor_calibration').DataTable( {
				"paging": false,
				fixedHeader: true
				} ); 
            $('#soil_calibration').DataTable( {
				"paging": false,
				fixedHeader: true
				} ); 
            $('#1').DataTable( {
				"paging": false,
				fixedHeader: true
				} ); 
            $('#2').DataTable( {
				"paging": false,
				fixedHeader: true
				} ); 
			}
		catch (e) 
			{
			console.log("Datatable JS not loaded, showing standard table without reorder option")
			}					
        });
</script> 
{% endblock pluginscripts %}


{% block headtable %}
<table class="table table-striped table-hover">
	<tbody>
		<tr>
			<td class="py-1"><strong>Gateway-IP</strong></td>
			<td class="py-1">{{ p.driver.collector.station.ip_address.decode() }}</td>
			<td class="py-1" width="50px"></td>
			<td class="py-1"><strong>Gateway-Port</strong></td>
			<td class="py-1">{{p.driver.collector.station.port}}</td>
			<td class="py-1" width="50px"></td>
		</tr>
		<tr>
			<td class="py-1"><strong>Data Poll Cycle [s]</strong></td>
			<td class="py-1">{{ p._gateway_poll_interval }}</td>
			<td></td>
			<td class="py-1"><strong>Gateway Connected</strong></td>
			<td class="py-1">{{ p.gateway_connected }}</td>
			<td></td>
		</tr>
		<tr>
			<td class="py-1"><strong>Connected Sensors</strong></td>
			<td class="py-1">{{ len(p.driver.collector.sensors.connected_addresses) }}</td>
			<td></td>
			<td class="py-1"><strong>Gateway Model</strong></td>
			<td class="py-1">{{ p.driver.collector.station.model }}</td>
			<td></td>
		</tr>
	</tbody>
</table>
{% endblock headtable %}


<!--
	Additional buttons for the web interface (if any are needed) - displayed below the headtable-section
-->
{% block buttons %}
{% if 1==2 %}
	<div>
		<button id="btn1" class="btn btn-shng btn-sm" name="scan" onclick="shngPost('', {learn: 'on'})"><i class="fas fa-question"></i>&nbsp;&nbsp;&nbsp;{{ _('nach Devices suchen') }}&nbsp;</button>
	</div>
{% endif %}
{% endblock %}

<!--
	Define the number of tabs for the body of the web interface (1 - 6)
-->
{% set tabcount = 4 %}


<!--
	Set the tab that will be visible on start, if another tab that 1 is wanted (1 - 3)
-->
{% if p.items %}
	{% set start_tab = 3 %}
{% endif %}


<!--
	Content block for the first tab of the Webinterface
-->
{% set tab1title = "<strong>" ~ p.get_shortname() ~ " Items</strong>" %}
{% block bodytab1 %}
<div class="container-fluid m-2">
	<table id="maintable" class="table table-striped table-hover pluginList">
		<thead>
			<tr>
                <th>{{_('Item')}}</th>
                <th>{{_('Typ')}}</th>
                <th>{{_('Foshk Attribute')}}</th>
                <th>{{_('Wert')}}</th>
                <th>{{_('Letztes Update')}}</th>
                <th>{{_('Letzter Change')}}</th>
			</tr>
		</thead>
		<tbody>
			{% for attribute in p.items %}
				<tr>
                    <td class="py-1">{{ p.items[attribute]._path }}</td>
                    <td class="py-1">{{ p.items[attribute]._type }}</td>
                    <td class="py-1">{{ attribute }}</td>
                    <td class="py-1">{{ p.items[attribute]._value }}</td>
                    <td class="py-1">{{ p.items[attribute].property.last_update.strftime('%d.%m.%Y %H:%M:%S') }}</td>
                    <td class="py-1">{{ p.items[attribute].property.last_change.strftime('%d.%m.%Y %H:%M:%S') }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock bodytab1 %}


<!--
	Content block for the second tab of the Webinterface
-->
{% set tab2title = "<strong>" ~ p.get_shortname() ~ " Data</strong> " %}
{% block bodytab2 %}
<div class="container-fluid m-2">
	<table id="datatable" class="table table-striped table-hover pluginList">
		<thead>
			<tr>
                <th>{{ _('Key') }}</th>
                <th>{{ _('Value') }}</th>
			</tr>
		</thead>
		<tbody>
			{% for entry in p.data_dict %}
				<tr>
                    <td class="py-1">{{ entry }}</td>
                    <td class="py-1">{{ p.data_dict[entry] }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock bodytab2 %}

<!--
    Content block for the third tab of the Webinterface
-->
{% set tab3title = "<strong>" ~ p.get_shortname() ~ " Settings</strong> " %}
{% block bodytab3 %}
<div class="container-fluid m-2">
	<table id="gateway_details" class="table table-striped table-hover pluginList">
        <caption>GATEWAY DETAILS</caption>
		<thead>
			<tr>
			    <th>{{ _('Key') }}</th>
                <th>{{ _('Value') }}</th>
			</tr>
		</thead>
		<tbody>
            <tr>
                <td class="py-1">{{ _('Model') }}</td>
                <td class="py-1">{{ p.driver.collector.station.model }}</td>
            </tr>
            <tr>
                <td class="py-1">{{ _('MAC') }}</td>
                <td class="py-1">{{ p.driver.collector.mac_address }}</td>
            </tr>
            <tr>
                <td class="py-1">{{ _('Firmware') }}</td>
                <td class="py-1">{{ p.driver.collector.firmware_version }}</td>
            </tr>
		</tbody>
	</table>

	<table id="sysparams" class="table table-striped table-hover pluginList">
        <caption>SYSTEM PARAMETERS</caption>
		<thead>
			<tr>
			    <th>{{ _('Key') }}</th>
                <th>{{ _('Value') }}</th>
			</tr>
		</thead>
		<tbody>
            {% for entry in p.driver.collector.system_parameters %}
				<tr>
                    <td class="py-1">{{ entry }}</td>
                    <td class="py-1">{{ p.driver.collector.system_parameters[entry] }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
    
    <table id="serversetting" class="table table-striped table-hover pluginList">
        <caption>CUSTOM SERVER SETTING</caption>
		<thead>
			<tr>
			    <th>{{ _('Key') }}</th>
                <th>{{ _('Value') }}</th>
			</tr>
		</thead>
		<tbody>
            {% for entry in p.driver.collector.custom %}
				<tr>
                    <td class="py-1">{{ entry }}</td>
                    <td class="py-1">{{ p.driver.collector.custom[entry] }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
    
    <table id="sensor_calibration" class="table table-striped table-hover pluginList">
        <caption>SENSOR CALIBRATION</caption>
		<thead>
			<tr>
			    <th>{{ _('Key') }}</th>
                <th>{{ _('Value') }}</th>
			</tr>
		</thead>
		<tbody>
            {% for entry in p.driver.collector.calibration %}
				<tr>
                    <td class="py-1">{{ entry }}</td>
                    <td class="py-1">{{ p.driver.collector.calibration[entry] }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
    
    <table id="soil_calibration" class="table table-striped table-hover pluginList">
        <caption>SOIL CALIBRATION</caption>
		<thead>
			<tr>
			    <th>{{ _('Key') }}</th>
                <th>{{ _('Value') }}</th>
			</tr>
		</thead>
		<tbody>
            {% for sensor in p.driver.collector.soil_calibration %}
                {% for entry in p.driver.collector.soil_calibration[sensor] %}
                    <tr>
                        <td class="py-1">{{ _('Sensor_') }} {{ sensor }} {{ _(':') }} {{ entry }}</td>
                        <td class="py-1">{{ p.driver.collector.soil_calibration[sensor][entry] }}</td>
                    </tr>
                {% endfor %}
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock bodytab3 %}


<!--
    Content block for the third tab of the Webinterface
-->
{% set tab4title = "<strong>" ~ p.get_shortname() ~ " Maintenance</strong> " %}
{% block bodytab4 %}
<div class="container-fluid m-2">
	<table id="" class="table table-striped table-hover pluginList">
    <caption>FOSHK PLUGIN PARAMETERS</caption>
		<thead>
			<tr>
			  <th>{{ _('Param') }}</th>
              <th>{{ _('Value') }}</th>
			</tr>
		</thead>
		<tbody>
            <tr>
                <td>{{ _('last_lightning') }}</td>
                <td class="py-1">{{ p.driver.last_lightning}}</td>
            </tr>
            <tr>
                <td>{{ _('last_rain') }}</td>
                <td class="py-1">{{ p.driver.last_rain}}</td>
            </tr>
            <tr>
                <td>{{ _('rain_mapping_confirmed') }}</td>
                <td class="py-1">{{ p.driver.rain_mapping_confirmed}}</td>
            </tr>
            <tr>
                <td>{{ _('rain_total_field') }}</td>
                <td class="py-1">{{ p.driver.rain_total_field}}</td>
            </tr>
            <tr>
                <td>{{ _('debug_rain') }}</td>
                <td class="py-1">{{ p.driver.debug_rain}}</td>
            </tr>
            <tr>
                <td>{{ _('debug_wind') }}</td>
                <td class="py-1">{{ p.driver.debug_wind}}</td>
            </tr>
            <tr>
                <td>{{ _('debug_loop') }}</td>
                <td class="py-1">{{ p.driver.debug_loop}}</td>
            </tr>
            <tr>
                <td>{{ _('debug_sensors') }}</td>
                <td class="py-1">{{ p.driver.debug_sensors}}</td>
            </tr>
		</tbody>
	</table>
    

	<table id="" class="table table-striped table-hover pluginList">
		<thead>
			<tr>
			  <th>{{ _('dict "battery_and_signal_data"') }}</th>
			</tr>
		</thead>
		<tbody>
            <tr>
              <td class="py-1">{{ p.driver.collector.sensors.battery_and_signal_data }}</td>
            </tr>
		</tbody>
	</table>

    <table id="" class="table table-striped table-hover pluginList">
		<thead>
			<tr>
			  <th>{{ _('dict "connected_sensors"') }}</th>
			</tr>
		</thead>
		<tbody>
            <tr>
              <td class="py-1">{{ p.driver.collector.sensors.connected_sensors}}</td>
            </tr>
		</tbody>
	</table>
    
<!--     <table id="" class="table table-striped table-hover pluginList">
		<thead>
			<tr>
			  <th>{{ _('dict "addresses"') }}</th>
			</tr>
		</thead>
		<tbody>
            <tr>
              <td class="py-1">{{ p.driver.collector.sensors.addresses}}</td>
            </tr>
		</tbody>
	</table> -->

    <table id="" class="table table-striped table-hover pluginList">
		<thead>
			<tr>
			  <th>{{ _('dict "sensors"') }}</th>
			</tr>
		</thead>
		<tbody>
            <tr>
              <td class="py-1">{{ p.driver.collector.sensors.connected_addresses }}</td>
            </tr>
		</tbody>
	</table>
    
    <table id="" class="table table-striped table-hover pluginList">
		<thead>
			<tr>
			  <th>{{ _('dict "rain_data"') }}</th>
			</tr>
		</thead>
		<tbody>
            <tr>
              <td class="py-1">{{ p.driver.collector.rain_data }}</td>
            </tr>
		</tbody>
	</table>
    
    <table id="" class="table table-striped table-hover pluginList">
		<thead>
			<tr>
			  <th>{{ _('dict "mulch_offset"') }}</th>
			</tr>
		</thead>
		<tbody>
            <tr>
              <td class="py-1">{{ p.driver.collector.mulch_offset }}</td>
            </tr>
		</tbody>
	</table>
    
    <table id="" class="table table-striped table-hover pluginList">
		<thead>
			<tr>
			  <th>{{ _('dict "pm25_offset"') }}</th>
			</tr>
		</thead>
		<tbody>
            <tr>
              <td class="py-1">{{ p.driver.collector.pm25_offset }}</td>
            </tr>
		</tbody>
	</table>
    
    <table id="" class="table table-striped table-hover pluginList">
		<thead>
			<tr>
			  <th>{{ _('dict "co2_offset"') }}</th>
			</tr>
		</thead>
		<tbody>
            <tr>
              <td class="py-1">{{ p.driver.collector.co2_offset }}</td>
            </tr>
		</tbody>
	</table>
</div>
{% endblock bodytab4 %}

